h1{
/* color:red; */
color: #f9423a;
color: #bada55;
background-color: #556b2f;
text-align: center;
font-size: 12pt;
font-size: 12px;
font-size: 400%;
}
/* colorhexa
pantone */


.flan {
  font-weight:400;
  color: orange;
}
