body {
width: 900px;
margin: 0 auto;
border: 0px solid blue;
background: #EAFAF1 ;
}
nav {
margin-bottom: 150px;
}

section {
margin-bottom: 4%;
}

header{
  text-align: center;
}

.nav {
    height: 50px;
    line-height: 50px;
    background: #c7161e;
    margin-bottom: 50px;
    margin-top: 30px;
}
.nav li {
   
    height: 50px;
    float: left;
    text-align: center;
    list-style: none;
}
.nav li.active{
	background-color: #000;
	color: #fff;
}
.nav li a {
    color: #fff;
    text-decoration: none;
    display: block;
     padding: 0 30px;
}
.box{
    border:1px solid #666;
    padding:0 5px;
    display: grid;
    grid-template-rows: repeat(2, auto);
}
.btn-text{
	display: none;
}
.sc1 {
overflow: hidden;
padding: 20px;
}

.sc1-img {
width: 300px;
float: left;
}

.sc1-text {
float: left;
width: 500px;
margin-left: 30px;
line-height: 1.6;
}

.sc2 {
	overflow: hidden;
}
.sc2 img{
	width: 31%;
	margin: 1%;
	height: 200px;
	float: left;
	box-sizing: border-box;
}
.sc2 .img{
	border: 2px solid red;
}
.sc3{
display: grid;
grid-template-columns: 1fr 1fr;
grid-column-gap: 20px;
grid-row-gap: 30px;
}

.sc3-1 {
grid-column: 1/2;
grid-row: 1/2;
}
.sc3-2 {
grid-column: 2/3;
grid-row: 1/2;
}
.sc3-3 {
grid-column: 1/3;
grid-row: 2/3;
}

footer {
margin-top: 120px;
border-top: 3px solid #556b2f;
padding-top: 10px;
height: 150px;
}

.btn{
	width: 120px;
	height: 40px;
	line-height: 40px;
	display: block;
	margin: 0 auto;
	border: none;
	outline: none;
	text-align: center;
	border-radius: 8px;
	font-size: 16px;
	cursor: pointer;
}