body{
  background-color: pink;
  max-width: 500px;
  margin:;
}

header{
  background: gray;
  border:3px solid #f9423a
  /* padding is for space between content and border */
  padding:30px;
  margin:50px;
  /* margin is for the space the boeder and other boxes */
  height: 100px;
  width: 100px;
  /* height and width is for the content itself */
}

main{
  height: 100%;
  width:100%;
  background-color: teal;
  padding: 30px;
}

wed{
  background-color: yellow;
  /* if you have a values of padding, they are applied in clockwise order around the box ; top right bottom left*/
  padding: 30px 20px 20px 100px;
  margin:;
}

footer{
  color: green;
  background-color: orange;
  height: 100%;
  width:100%;
  border:3px solid #f9423a
}
